.logo {
  flex-basis: 400px;
  gap: 10px;

  img {
    width: 50px;
    height: 50px;
    margin-left: 10px;
  }
}

.header-nav {
  h3 {
    margin-left: 50px;
  }

  .bedge {
    position: relative;
    font-size: 25px;
    margin: 10px;

    span {
      background: red;
      right: -5px;
      top: 0;
      position: absolute;
      font-size: 1.2rem;
      border-radius: 50%;
      line-height: 1.2rem;
      width: 1rem;
    }
  }
}
